.postImg {
    flex-grow: 1;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.imgContainer {
    display: flex;
    overflow: hidden;
    height: 30rem;
    max-height: 30rem;
    background-position: center center;
}

.postTitle:hover {
    text-decoration: none;
}

.contentContainer {
    display: flex;
    flex-direction: row;
}

.sidebar {
    margin-top: 16.08px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.authorsPhoto {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.postDate {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-top: 15px;
}

.calendarIcon {
    padding-right: 7px;
}